<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.rebrandsoftware.localstoragetest"
        versionCode="1" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

	<preference name="phonegap-version" value="3.4.0" />
	<preference name="fullscreen" value="false" />
    <preference name="android-installLocation" value="auto" />
    <preference name="android-targetSdkVersion" value="13" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-targetSdkVersion" value="18" />
    <preference name="fullscreen" value="true" />

    <name>LocalStorageTest</name>

    <description>
        Test LocalStorage on Android 2.3
    </description>

    <author href="http://www.rebrandsoftware.com" email="mike@rebrandsoftware.com">
        Mike Gibson - Rebrand Software, LLC 
    </author>

    <access origin="*" />
	
	<gap:plugin name="org.apache.cordova.device" version="0.2.8" />
	
<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

</widget>